.header {
  height: var(--header-size);
  padding: 16px 40px;
  background: var(--white);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__user {
  display: flex;
  grid-gap: 16px;
  place-items: center;
}

.header__link > .header__menu {
  display: none;
}

.header__link {
  display: flex;
}

.main {
  padding: 40px 50px;
  height: calc(100vh - var(--header-size))
}

@media (max-width: 768px) {
  .header {
    padding: 16px 20px;
  }

  .header__user--name {
    display: none;
  }

  .header__logo {
     display: none;
  }

  .header__link >  .header__menu {
    display: block;
  }

  .main {
    padding: 30px 16px;
  }
}
